<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1 style="text-align: center"><%= title %></h1>
<% actions.forEach(function(item){ %>
<p>
    <%= item.ctrl %> => <%= item.action %>
</p>
<% }); %>

</body>
</html>