<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>spider</title>
  <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.js"></script>
</head>
<body >

<p>error is <%=message%> </p>


<script>
  $(function() {



  });

</script>

</body></html>