<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>spider - <%= time%></title>
    <!--<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.js"></script>-->
    <script src="javascripts/jquery-1.11.3.js"></script>
</head>
<body>

<p>hello node.js</p>
<p>title is   <%= title%></p>
<p>now is  <%= time%></p>
<p>osInfo is  <%= osInfo%></p>



<script>
    $(function () {


//      $.post("/api/haha/getList", { pageSize:11}, function(data) {
//      var result = data;
//      });


    });

</script>

</body>
</html>